body {
	width: 600px;
	margin: 1em 2em;
}

.hidden {
  display: none !important;
}

img#logo {
	float: left;
	margin-right: 1.2em;
	margin-left: 0.5em;
}
.title {
	padding: 0.5em;
	vertical-align: baseline;
}

label {
	display: block;
	margin: 9px 0;
}

label, select, option { cursor: pointer }

section.disabled                { color: #888; }
section.disabled *              { cursor: default; }
section.disabled h3 label:hover { cursor: pointer; }
section.disabled h3 label:hover { color: #666; }

section h3 label { cursor: pointer; }
section > div label { text-transform: lowercase; }
section > div p input[disabled] { background-color: #eee; }
section > div p input[type="radio"]+label,
section > div p input[type="checkbox"]+label {
	text-align: left;
	float: none;
	margin-left: 0.5em;
}
section > h3 {
	font-variant: small-caps;
	text-transform: capitalize;
	position: relative;
	font-size: 1.5em;
	cursor: default;
}

#full_rpc_url {
	border-left: 4px solid #ddd;
	padding-left: 1em;
}

acronym {
	text-transform: uppercase;
	border-bottom: dotted 1px #999;
	cursor: help;
}

#additional_trackers {
	width: 100%;
	height: 10em;
}

button#reset { float: right; }
