.container {
	width: 600px;
	margin: 1em 2em;
}
fieldset {
	border: 0;
	border-left: 1px solid #999;
	padding-top: 3em;
	position: relative;
}
fieldset.disabled {
	background-color: #EEE;
	color: #999;
}
fieldset.disabled * { cursor: default; }
fieldset.disabled legend:hover label { cursor: pointer; }
fieldset.disabled legend:hover { color: #555; }
fieldset p {
	margin: 0 0 0.5em;
	clear: both;
	position: relative;
}
fieldset label { cursor: pointer; }
fieldset p label {
	text-transform: lowercase;
	float: left;
	width: 8em;
	margin-right: 0.7em;
	text-align: right;
	padding-top: 5px;
	vertical-align: top;
}
fieldset p input[disabled] {
	background-color: #eee;
}
fieldset p input[type="radio"]+label,
fieldset p input[type="checkbox"]+label {
	text-align: left;
	float: none;
	margin-left: 0.5em;
}
fieldset legend {
	font-variant: small-caps;
	text-transform: capitalize;
	position: relative;
	top: 1em;
	font-size: 1.5em;
	cursor: default;
}
button#reset {
	float: right;
}
label acronym {
	text-transform: uppercase;
	vertical-align: top;
}
img#logo {
	float: left;
	margin-right: 1.2em;
	margin-left: 0.5em;
}
.title {
	padding: 0.5em;
	vertical-align: baseline;
}
label[for="additional_trackers"] { width: auto; }
#additional_trackers {
	width: 100%;
	height: 12em;
	clear: left;
}
fieldset select { border-color: #bbb; }
fieldset select:focus { border-color: #666; }
#full_rpc_url { margin-left: 9em; }
